body,
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* HEADER */
header {
  width: 100%;
  height: 150px;
  background-color: #ff3b3c;
  padding: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.header-logo,
.header-form,
.header-social {
  width: 33%;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-logo {
  justify-content: flex-start;
}

.header-logo-img,
.header-li,
.header-a,
.header-social-img {
  height: 50px;
}

.header-form {
  justify-content: center;
  border: 1px solid #ddd; /* Borde sutil alrededor del formulario */
  border-radius: 5px; /* Esquinas redondeadas */
  background-color: #fff; /* Fondo blanco para el formulario */
  padding: 5px 10px; /* Espacio interno del formulario */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
  outline: none;
}

.header-input {
  height: 60px;
  border-radius: 15px;
  border: 1px solid #ddd; /* Borde sutil alrededor del campo de entrada */
  width: 100%;
  padding: 10px;
  margin: 0 20px;
  font-size: 14px;
  text-align: center;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); /* Sombra interna para profundidad */
  outline: none; /* Elimina el borde de enfoque predeterminado */
}

input#search {
  outline: none;
  border:none;
}
input#search-input {
  outline: none;
  border:none;
}


.form-control-lg{
  border: solid 1px blue;
  outline: none;
}
.form-control-lg:focus{
  border: 1px solid red;
  outline: none;
}
/* Estilo cuando el campo está enfocado */
.header-input:focus {
  border-color: #007bff; /* Color del borde cuando está enfocado */
  box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.2); /* Efecto de enfoque atractivo */
  outline: none;
}

.header-input::placeholder {
  color: #888; /* Color del texto del marcador de posición */
}

.header-social {
  justify-content: flex-end;
  list-style-type: none;
}

.header-li,
.header-a,
.header-social-img {
  width: 50px;
}

.header-social-img {
  padding: 10px;
}

/* NAVBAR */
nav {
  width: 1080px;
  padding: 15px 20px;
  background-color: #ff3b3c;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 14px;
}

.nav-a {
  color: white;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 150px;
  padding: 5px 0;
  font-size: 14px;
}

.nav-a:hover {
  text-decoration: underline;
}

@media (min-width: 576px) {
  .nav-a {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .nav-div {
    width: 100%;
  }
  .nav-a {
    font-size: 14px;
  }
}

@media (min-width: 1080px) {
  nav {
    width: 1080px;
  }
}

/* HERO SECTION */
.hero-section {
  height: 200px;
  background: url(".././assets/hero_bg.png");
  background-size: cover;
  background-position: top center;
  display: flex;
  justify-content: center;
}

.hero-title {
  width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 20px; /* Corregido el padding-left */
}

.hero-title span:first-child {
  font-size: 20px;
}

.hero-title span:last-child {
  font-size: 50px;
  line-height: 30px;
}

.hero-span {
  color: white;
  font-weight: 700;
}

@media (min-width: 680px) {
  .carousel-item img,
  #hero {
    height: 210px;
  }

  .hero-title span:first-child {
    font-size: 40px;
  }

  .hero-title span:last-child {
    font-size: 100px;
    line-height: 80px;
  }
}

@media (min-width: 1080px) {
  .carousel-item img {
    object-fit: contain;
  }
}

/* MAIN */
main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* FOOTER */
footer {
  min-height: 250px;
  background-color: #7525a7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  width: 1080px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.footer-ul {
  width: 170px;
  list-style-type: none;
  padding: 10px;
}

.footer-li {
  padding: 5px 0;
}

.footer-main-item {
  font-weight: bold;
  padding-bottom: 20px;
}

.footer-a {
  color: white;
  text-decoration: none;
}

.footer-copyright {
  width: 1080px;
  border-top: 1px solid #ba53fb;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 30px 0;
  box-sizing: border-box;
}

.footer-column {
  margin: 20px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  color: white;
}

.footer-column h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: white;
}

.footer-column p {
  margin: 5px 0;
  color: white;
}

.footer-column a {
  color: #ffffff; /* Ajusta el color según sea necesario */
  text-decoration: none;
}
/* Estilo para las miniaturas de las imágenes del producto */
.mini-img {
  width: 80px; /* Ajusta este valor según el tamaño deseado */
  height: auto; /* Mantiene la proporción de aspecto de la imagen */
  margin: 5px; /* Espacio entre miniaturas */
  cursor: pointer; /* Cambia el cursor para indicar que se puede hacer clic */
  border: 2px solid #ccc; /* Opcional: añade un borde alrededor de las miniaturas */
  border-radius: 4px; /* Opcional: redondea los bordes de las miniaturas */
  transition: transform 0.3s; /* Opcional: añade una transición suave al hacer hover */
}

/* Estilo al pasar el mouse sobre la miniatura */
.mini-img:hover {
  transform: scale(10); /* Amplía la miniatura al pasar el mouse sobre ella */
}
